.sidebarleft {
	width: 15%;
	float: left;
	background-color: dodgerblue;
	height: 1000px;
	border-right: 2px solid lightslategray;

}
.sidebarright {
	width: 15%;
	float: right;
	background-color: dodgerblue;
	height: 1000px;
	border-left: 2px solid lightslategray;
}

.box, .otherbox {
	/* margin-top: 60px; */t;
}

.menubutton {

	letter-spacing: 4px;

	float: left;

}

.logo {
	text-transform: uppercase;
}

.logo a:hover {
	color: dodgerblue;
}

.logo a {
	text-decoration: none;
	color: white;
	
}

.onion-logo {
	background: url(onion.png) 50% 0 no-repeat;
	background-size: 59px 59px;
	height:  60px;
	width: 70px;
	position: fixed;
	padding-left: 45%;
	padding-right: 45%
	
}

html, body {
	margin: 0px;
	padding: 0px;

}

.footer {
	clear: both;
	background-color: lightslategray;
	height: 125px;
}



.nav {
	width: 100%;
	color: white;
	height: 75px;
	line-height: 75px;
	background-color: lightslategray;
	font-family: arial;	
	letter-spacing: 4px;
	position: fixed;
}

.nav ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav ul li a {
	text-decoration: none;
	color: white;
}

.nav ul li a:hover {
	color: dodgerblue;
}

.container {
	position: relative;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
